input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	max-width: 100%;
	color: $text-black-tertiary;
	border: 1px solid ;
	border-radius: 3px;

	&:focus {
		color: $text-black-secondary;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}