.widget {
  	@include span(1 of 2 1/32);
  	padding: 1em;
	&:nth-child(2n) {
		@include last;
	}
	&:nth-child(2n+1) {
	  clear: both;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.breakpoint-small & {
		@include span(1 of 1);
	}
}
