.widget {
  	float: left;
	margin: 0 0 1.5em;
  	width: 25%;
  	padding: 1em;
	&:nth-child(4n+1) {
	  clear: both;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
