ul, ol {
	margin: 0 0 1.5em 0;
	line-height: 175%;
	article.page & {
		margin: 0 3em 1.5em;
		.breakpoint-small & {
			margin: 0 1.5em 1.5em;
		}
	}
	padding: 0;
}

ul {
	list-style: disc inside;
}

ol {
	list-style: decimal inside;

}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}