table {
	margin: 0 0 1.5em;
	width: 100%;
	.breakpoint-medium & {
		 tr {
			 td {
				 @include span(1 of 2 1/32);
				 &:nth-child(even) {
					 @include last;
				 }
				 display: block;
			 }
		 }
	}
	.breakpoint-small & {
		tr {
			td {
				@include span(1 of 1);
				display: block;
			}
		}
	}
	&.skills-table tr{
		td {
			&:before {
				font-family: 'Material Icons';
				content: '\e876';
				vertical-align: middle;
				color: $secondary;
				margin-right: 0.5rem;
			}
		}
	}
}