//zentheme material design palette
//https://www.google.com/design/spec/style/color.html#color-ui-color-application

//$primary: #00BCD4;
//$primary-light: #B2EBf2;
//$primary-medium: #4DD0E1;
//$primary-heavy: #00838F;

$primary: #E87B46;
$primary-light: #E8A687;
$primary-medium: #E8A382;
$primary-heavy: #E85813;


//$secondary: #FFC107;
//$secondary-light: #FFE082;
//$secondary-medium: #FFD54F;
//$secondary-hover: #FFB300;
//$secondary-focus: #FFA000;

$secondary: #8BC34A;
$secondary-light: #DCEDC8;
$secondary-medium: #AED581;
$secondary-hover: #689F38;
$secondary-focus: #558B2F;


$text-black-primary: rgba(black,0.87);
$text-black-secondary: rgba(black, 0.54);
$text-black-tertiary: rgba(black,0.38);

$text-white-primary: white;
$text-white-secondary: rgba(white, 0.7);
$text-white-tertiary: rgba(white, 0.3);

$text: $text-black-primary;

$black-icon: black;
$gray-icon: $text-black-secondary;
$white-icon: white;

$status-bar-background: $primary-heavy;
$header-background: $primary;
$body-background: #FAFAFA;
$content-background: #FFFFFF;
$secondary-background: #E0E0E0;