a {
	color: $secondary;
	text-decoration: none;

	&:visited {
		color: $secondary;
	}
	&:hover,
	&:focus,
	&:active {
		color: $secondary-hover;
		border-bottom: 4px solid rgba($secondary-hover, 0.9);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}