/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
@import "pagination";

/*--------------------------------------------------------------
## Article/Post Navigation
--------------------------------------------------------------*/
@import "article-nav";


.loading {
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $text-white-secondary;
	}
	&:after {
		background: url("img/gif/zen-spinner.gif");
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 3000;
		background-repeat: no-repeat;
		background-position: center center;
	}
}